ENV=dev
APP_NAME="Python Software Community Togo"
VERSION="1.2.0"
SUPABASE_URL=""
SUPABASE_KEY=""
API_ROOT=""
SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=30
SMTP_SERVER=""
SMTP_SERVER_PORT=465
SENDER_EMAIL=""
SENDER_EMAIL_PASSWORD=""

EMAIL = ""
EMAIL_PASSWORD = ""
# NAME = ""
PYTHON_TOGO_API_BASE_URL=""
PYTHON_TOGO_API_KEY=""
PYTHON_TOGO_API_TIMEOUT_SECONDS=
PYTHON_TOGO_EVENT_CODE=""
ADMIN_API_KEY=""